<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    {{>navbar}}

    <!-- start of main body  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about_figure.png" alt="mesbah" class="img-fluid">
                        </figure>
                    </div>
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_clr"> MERN Stack Developer. </span> Here I Go.</h1>
                        <a href="https://web.facebook.com/profile.php?id=100012642607575"><button>About Me</button></a>
                    </div>

                    <!-- right side div  -->

                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->
    {{>footer}}
</body>

</html>